.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(70, 70, 70, 0.562);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 11;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #2f00ff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    color: black;
    padding: 2px 4px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.square-100 {
    width: 100%;
}

.square {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    background-size: cover;
    box-shadow: 0 3px 12px rgba(37, 34, 67, 0.9);
    vertical-align: top;
    background-color: #eee;
    margin-top: 6px !important;
    margin-bottom: 4px !important;
}

.grid-cell {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    text-align: center;
    vertical-align: top;
    width: 5% !important;
    font-size: 16px;
}

.grid-25 {
    width: 25% !important
}

*, *:before, *:after {
    box-sizing: inherit;
    font-size: 18px;
    color: black;
}

fieldset {
    padding: 7px !important;
    border: 2px solid #8e3636;
    padding: revert;
}

.button {
    background-color: rgb(70, 160, 180);
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    padding: 1px 1px 1px 1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button svg {
    height: 55px;
    width: 150px;
    fill: none;
    stroke-width: 5;
    float: none;
    align-items: center;
    align-self: start;
    display: block;
}

.button svg .o1 {
    stroke: rgba(25, 190, 219, 0.7);
    fill: rgb(122, 208, 231);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.button svg .o2 {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 20 420;
    stroke-dashoffset: 20;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.button span {
    position: absolute;
    margin: auto 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.button:hover .o1 {
    fill: rgba(253, 1, 56, 0.548);
}

.button:hover .o2 {
    stroke-dashoffset: -420;
}

h1 {
    margin-top: 15px;
}

/* radio */

.answer-options .answer-option input[type=checkbox]:after, .answer-options .answer-option input[type=radio]:after {
    content: '';
    border: 2px solid #00adff;
    display: inline-block;
    width: 7px;
    height: 15px;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 50%;
    left: 10px;
    box-sizing: content-box;
    opacity: 0;
    margin-top: -10px;
    -webkit-transform: rotate(36deg) scale(0);
    -moz-transform: rotate(36deg) scale(0);
    -ms-transform: rotate(36deg) scale(0);
    -o-transform: rotate(36deg) scale(0);
    transform: rotate(36deg) scale(0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}

.answer-options .answer-option input[type=checkbox]:after, .answer-options .answer-option input[type=radio]:after {
    content: '';
    border: 2px solid #00adff;
    display: inline-block;
    width: 7px;
    height: 15px;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 50%;
    left: 10px;
    box-sizing: content-box;
    opacity: 0;
    margin-top: -10px;
    -webkit-transform: rotate(36deg) scale(0);
    -moz-transform: rotate(36deg) scale(0);
    -ms-transform: rotate(36deg) scale(0);
    -o-transform: rotate(36deg) scale(0);
    transform: rotate(36deg) scale(0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}

body.course-item-popup #learn-press-content-item #content-item-quiz .answer-options .answer-option .option-title {
    font-size: 13px;
    line-height: 1.2;
    padding-top: 8px;
}

.answer-options .answer-option .option-title {
    margin: 0;
}

.answer-options .answer-option .option-title {
    font-size: smaller;
    display: table-cell;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.answer-options .answer-option {
    direction: rtl;
}

.answer-options .answer-option {
    margin: 15px 0 0 0;
    position: relative;
    background: #f5f5f5;
    padding: 10px;
    display: flex;
    overflow: hidden;
    color: #777;
    cursor: pointer;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background linear .25s;
    -moz-transition: background linear .25s;
    transition: background linear .25s;
}

user agent stylesheet li {
    text-align: -webkit-match-parent;
}

.answer-options {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}

user agent stylesheet ul {
    list-style-type: disc;
}

.answer-options .answer-option .option-title:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    content: '';
    background: #ddd;
    -webkit-transition: background linear .25s;
    -moz-transition: background linear .25s;
    transition: background linear .25s;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.answer-options {
    list-style: none;
    margin: 0;
    padding: 0
}

.answer-options .answer-option {
    margin: 0 0 15px 0;
    position: relative;
    background: #f5f5f5;
    padding: 10px;
    display: flex;
    overflow: hidden;
    color: #777;
    cursor: pointer;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background linear .25s;
    -moz-transition: background linear .25s;
    transition: background linear .25s
}

.answer-options .answer-option .option-title {
    font-size: smaller;
    display: table-cell
}

.answer-options .answer-option .option-title .option-title-content {
    display: inline-block;
    vertical-align: middle
}

.answer-options .answer-option .option-title:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    content: '';
    background: #ddd;
    -webkit-transition: background linear .25s;
    -moz-transition: background linear .25s;
    transition: background linear .25s
}

.answer-options .answer-option input[type=checkbox], .answer-options .answer-option input[type=radio] {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    margin: 0 3px 0 18px;
    position: relative;
    border: 1px solid #eaeaea;
    width: 32px;
    height: 32px;
    min-width: 32px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.answer-options .answer-option input[type=checkbox]:focus, .answer-options .answer-option input[type=radio]:focus {
    outline: 0
}

.answer-options .answer-option input[type=checkbox]:after, .answer-options .answer-option input[type=radio]:after {
    content: '';
    border: 2px solid #00adff;
    display: inline-block;
    width: 7px;
    height: 15px;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 50%;
    left: 10px;
    box-sizing: content-box;
    opacity: 0;
    margin-top: -10px;
    -webkit-transform: rotate(36deg) scale(0);
    -moz-transform: rotate(36deg) scale(0);
    -ms-transform: rotate(36deg) scale(0);
    -o-transform: rotate(36deg) scale(0);
    transform: rotate(36deg) scale(0);
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s
}

.answer-options .answer-option input[type=checkbox]:checked~.option-title .option-title-content, .answer-options .answer-option input[type=radio]:checked~.option-title .option-title-content {
    position: relative
}

.answer-options .answer-option input[type=checkbox]:checked~.option-title:before, .answer-options .answer-option input[type=radio]:checked~.option-title:before {
    background: #00adff
}

.answer-options .answer-option input[type=checkbox]:checked:after, .answer-options .answer-option input[type=radio]:checked:after {
    opacity: 1;
    -webkit-transform: rotate(36deg) scale(1);
    -moz-transform: rotate(36deg) scale(1);
    -ms-transform: rotate(36deg) scale(1);
    -o-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1)
}

.answer-options .answer-option input[type=radio] {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.answer-options .answer-option input[type=radio]:before {
    border-radius: 50%
}

.answer-options .answer-option .option-title {
    margin: 0
}

.answer-options .answer-option:hover {
    background: #e1f5ff
}

.answer-options .answer-option.answer-correct {
    background: #008000bf;
    color: #fff
}

.answer-options .answer-option.answer-correct input[type=checkbox]:checked~.option-title:before, .answer-options .answer-option.answer-correct input[type=radio]:checked~.option-title:before {
    background: #e1f5ff
}

.answer-options .answer-option.answered-correct input[type=checkbox]:checked~.option-title:before, .answer-options .answer-option.answered-correct input[type=radio]:checked~.option-title:before {
    background: #00adff
}

.answer-options .answer-option.answered-wrong input[type=checkbox]:after, .answer-options .answer-option.answered-wrong input[type=checkbox]:before, .answer-options .answer-option.answered-wrong input[type=radio]:after, .answer-options .answer-option.answered-wrong input[type=radio]:before {
    border-color: red
}

.answer-options .answer-option.answered-wrong input[type=checkbox]:checked~.option-title:before, .answer-options .answer-option.answered-wrong input[type=radio]:checked~.option-title:before {
    background: red
}
